body{
  font-family: 'Open Sans',sans-serif;
  background-color: #6c7a89;
  margin:2px;
}
#container{
  background-image: url('background.jpg');
  display: flex;
  flex:1;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width:90%;
  height:90%;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
}
#calculator{
  width:320px;
  height: 580px;
  background-color: #eaedef;
  margin:0 auto;
  top:5px;
  bottom: 5px;
  position: relative;
  box-shadow: 0 6px 8px 0 rgba(165, 55, 253, 1),0 8px 20px 3px rgba(211,116,132,3.19);
  border-radius: 10px;
}
#result{
  height: 30%;
}
#history{
  text-align:right;
  height:20px;
  margin:0 20px;
  padding-top: 15px;
  font-size: 15px;
  color:#919191;
}
#output{
  text-align:right;
  height:60px;
  margin:10px 20px;
  font-size: 30px;
  padding-top: 10px;
}
#keyboard{
  height: 70%;
}
.operator,.number,.empty{
  width: 50px;
  height:50px;
  margin:15px;
  float:left;
  border-radius: 50%;
  border-width: 0;
  font-weight:bold;
  font-size: 15px;
}
.number,.empty{
  background-color: #eaedef;
}
.number,.operator{
  cursor: pointer;
}
.operator:active,.number:active{
  font-size: 10px;
  color: rgba(174, 168, 211, 1);
}
.operator:focus,.number:focus,.empty:focus{
  outline: 0;
}
button:nth-child(4){
  font-size: 23px;
  background-color: #d35400;
}
button:nth-child(8){
  font-size: 23px;
  background-color: #19b5fe;
}
button:nth-child(12){
  font-size: 23px;
  background-color: #fef160;
}
button:nth-child(16){
  font-size: 23px;
  background-color: #26c281;
}
button:nth-child(20){
  font-size: 23px;
  background-color: #736598;
}
