body{
  font-family: 'Open Sans',sans-serif;
  background-color: #cf455c;
}
#container{
  background-image: url('background.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width:90%;
  height:98%;
  margin: 10px auto;
}
#calculator{
  width:30%;
  height: 20%;
  background-color: #eaedef;
  margin:0 auto;
  top:5px;
  bottom: 5px;
  position: relative;
  box-shadow: 0 6px 8px 0 rgba(165, 55, 253, 1),0 8px 20px 3px rgba(211,116,132,3.19);
}
#result{
  height: 150px;
}
#keyboard{
  height: 500px;
}
